<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets async="true">
    <target name="database" xsi:type="Database" dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
	connectionString="${configsetting:ConnectionStrings.DefaultConnection}">
      <commandText>
        INSERT INTO LogEntries(Date, Level, Message, Logger, Exception) values (@time_stamp, @level, @message, @logger, @exception);
      </commandText>

      <parameter name="@time_stamp" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

    <!-- Ignore Microsoft and System namespaces -->
    <target xsi:type="Null" name="blackMicrosoftSystem" />

  </targets>

  <rules>
    <!--Ignore Microsoft -->
    <logger name="Microsoft.*" minlevel="Info" writeTo="blackMicrosoftSystem" final="true" />
    <!--Ignore System -->
    <logger name="System.*" minlevel="Info" writeTo="blackMicrosoftSystem" final="true" />

    <logger name="Hangfire.*" maxlevel="Off" writeTo="blackMicrosoftSystem" final="true" />

    <!--Catch All -->

    <logger name="*" minlevel="Info" writeTo="database"/>
  </rules>
</nlog>